@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --bg-color: hsl(0, 0%, 100%);
    --bg-color-2: hsl(87, 100%, 67%);
    --bg-color-3: hsl(120, 100%, 50%);
    --bg-color-4: hsl(87, 96%, 59%);
    --button: hsl(87, 54%, 51%);
    --text-color-1: hsl(0, 0%, 0%);
    --text-color-2: rgb(53, 168, 53);
    --text-color-3: hsl(0, 0%, 12%);
    --font-2: "Poppins", sans-serif;
}

/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: hsla(120, 100%, 50%, 0.9);
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    margin: .5em 0;
    background-color: gray;
    border-radius: 3px;
}

.hr__style {
    height: 1px;
}

h1 {
    font-weight: 400;
    color: var(--text-color-3);
}

body {
    margin-top: 1em;
    font-family: 'DM Sans', sans-serif;
}

button {
    background-color: white;
    border: none;
}

.button {
    padding: .4em 1em;
    background-color: var(--button);
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 1em;
    text-align: center;
}

.button:hover {
    box-shadow: 5px solid var(--bg-color-3);
}

.input {
    padding: .5em .9em;
    font-size: 1em;
    color: grey;
    border: 1px solid grey;
    border-radius: 1.5em;
    width: 100%;
    max-width: 40em;
}

.btn-wsp {
    position: fixed;
    width: 70px;
    height: 70px;
    line-height: 70px;
    bottom: 40px;
    right: 20px;
    border-radius: 50px;
    color: white;
    background: #0df053;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 1000;
}

.btn-wsp:hover {
    text-decoration: none;
    color: white;
    background: #0df053;
}

.container {
    width: 85%;
    max-width: 1400px;
    margin: auto;
}

/* Header */

.header .logo {   
    z-index: 200;
    background-image: url(/assets/media/logo.png);
    width: 6.5em;
    height: 6.5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    border-radius: 80px;
    margin-right: 2.2em;
    margin-bottom: -1.5em;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between; /*Los elementos se disponen con un espacio de por medio*/
    align-items: center; /* Los elementos se centran */
}

.navigation ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center ;
}

    .navigation ul li {
        display: inline-flex;
        justify-content: space-between;
        padding-right: .5em;
    }

.menu {
    font-size: 24px;
    padding-right: .5em;
}

.bars, .glass {
    display: none;	
}

.fa-solid {
    font-size: 30px;
    padding: 0 .2em;
}

/* Header input buscar desplegable */

.buscarmobile {
    display: none;
}

.buscarmobile__input {
    padding: .5em .9em;
    padding-left: 3em;
    font-size: 1em;
    color: grey;
    border: 1px solid grey;
    border-radius: 1.5em;
    width: 54vw;
    outline: none;
    transition: .2s ease all;
}

.buscarmobile__arrow {
    position: absolute;
    margin-top: .35em;
    margin-left: .5em;
}

.fa-arrow-left {
    font-size: 25px;
    color: black;
}

/* Header menú desplegable */

.desplegable {
    margin-top: -1em;
    position: fixed;
    background-color: white;
    width: 60%;
    height: 200%;
    left: 40%;
    display: flex;
    justify-content:left;
    align-items: flex-start;
    display: none;
    transition: .2s ease all;
}

.overlay {
    background-color: rgba(0, 0, 0, 40%);
    top: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 150;
    backdrop-filter: blur(5px);
}

.fa-xmark {
    margin-top: .8em;
    margin-left: .5em;
    color: rgba(0, 0, 0, 40%);
    cursor: pointer;
}

.fa-xmark:hover {
    transition: all .4s ease;
    color: black;
}

.button__click {
    cursor: pointer;
}

.list{
    border-radius: 0 16px 16px 0;
    margin-top: 3em;
    margin-left: .5em;
}

.desplegable__hr {
    background-color: black;
    border: .001px solid black;
    width: 80%;
}

.list__item{
    list-style: none;
    width: 100%;
    text-align:start;
    overflow: hidden;
    font-size: 20px;
}

.list__item--click{
    cursor: pointer;
}

/* Slider */

.body {
    display: flex;
}

.conteiner__slider {
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    width: 300%;
    height: auto;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position:absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    top: 50%;
    transform: translateY(-65%);
    cursor: pointer;
}

.slider__btn--right {
    right: 0;
    height: 100%;
    margin-top: 1%;
}

.slider__btn--left {
    height: 100%;
    margin-top: 1%;
}

/* Novedades y destacados (novlan) */

.img-novlan {
    width: 100%;
}

.novlan {
	width: 100%;
    height: auto;
    overflow: hidden;
}

.novlan ul {
	display: flex;
	padding: 0;
    gap: .3em;
	width: 100%; /*Si quisiera que mostrara solo dos la primera imagen, tendría que poner 200% porque son dos*/
}

.novlan li {
	width: 100%;
	list-style: none;
}

.novlan img {
	width: 100%;
}

/* Lecturas recomendadas y Nuestros destacados */

.publicaciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 2em;
}

.publicaciones2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 2em;
    row-gap: 2em;
}

.publicacion h4, h3, h5 {
    color: hsl(0, 0%, 21%);
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.publicacion_libros {
    margin-bottom: 2em;
}

.publicacion h4 {
    font-size: 19px;
    font-weight: 600;
}

.publicacion h5 {
    font-size: 17px;
    font-weight: 400;
}

.publicacion h3 {
    font-size: 22px;
}

.publicacion__img {
    width: 80%;
    height: 60%;
    transform: translatex(13%);
}

.vermas {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    margin-top: 5em;
}

/* Newsletter */

.newsletter {
    border: .4em solid var(--bg-color-4);
    margin-bottom: 2em;
}

.recuadro {
    border: .2em dotted var(--bg-color-2);
    margin: .3em;
    padding: 1.5em;
}

.newsletter__btn {
    display: flex;
    justify-content: center;
    margin: 2em;
}

.newsletter__block {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.newsletter__block--img {
    width: 30%;
    margin-right: 1.5em;
}

.newsletter__block h2{
    font-size: 30px;
    font-weight: 400;
}

.newsletter__email {
    display: grid;
    row-gap: .5em;
    margin-top: 1em;
}

.newsletter__email--checkbox {
    margin-left: .5em;
}

/* Footer */

footer {
    background: linear-gradient(to bottom, white, rgb(215, 215, 215));
}

footer h2 {
    margin-top: 1em;
}

.footer__redes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 2em;
}

.footer__redes--img {
    width: 100%;
    border-radius: 50%;
}

.footer__tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__tarjetas--img {
    margin-top: 1em;
    width: 100%;
}

@media screen and (max-width: 320px) {
    /* Header input buscar desplegable */

    .buscarmobile__input {
        width: 100%;
        transition: .2s ease all;
        margin: 1.51em 0;
    }

    .buscarmobile__arrow {
        margin-top: 1.8em;
    }

    /* Lecturas recomendadas y Nuestros destacados */

    .publicaciones {
        row-gap: 0;
    }
    
    .publicaciones2 {
        row-gap: 0;
    }

    .publicacion {
        margin-bottom: 3em;
    }

    .publicacion__img {
        height: 50%;
    }
    
    .vermas {
        margin-bottom: 3em;
        margin-top: 0;
    }

    /* Newsletter */

    .newsletter__block--img {
        width: 10%;
    }

    .newsletter__block h2{
        font-size: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
    }
}

@media screen and (max-width: 480px) {
    /* Header input buscar desplegable */
    
    .buscarmobile__input {
        width: 100%;
        margin: 1.51em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10em;
    }

    .buscarmobile__arrow {
        margin-top: 1.8em;
    }

    /* Lecturas recomendadas y Nuestros destacados */

    .publicaciones {
        row-gap: 0;
    }
    
    .publicaciones2 {
        row-gap: 1.5em;
    }

    .publicacion {
        margin-bottom: 1em;
    }

    .publicacion__img {
        height: 55%;
    }
    
    .vermas {
        margin-bottom: 3em;
        margin-top: 0;
    }

    /* Newsletter */

    .newsletter__block--img {
        width: 25%;
    }

    .newsletter__block h2{
        font-size: 30px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
    }
}

@media screen and (min-width: 625px) and (max-width: 1024px) {
    /* Header menú desplegable */

    .desplegable {
        width: 40%;
        height: 200%;
        left: 60%;
    }
}

@media screen and (min-width: 480px) and (max-width: 719px) {
    /* Header input buscar desplegable */
        
    .buscarmobile__input {
        width: 100%;
        margin: 1.51em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10em;
    }

    .buscarmobile__arrow {
        margin-top: 1.8em;
    }

    /* Lecturas recomendadas y Nuestros destacados */

    .publicaciones {
        row-gap: 0;
    }

    .publicaciones2 {
        row-gap: 1.5em;
    }

    .publicacion {
        margin-bottom: 0;
    }

    .publicacion__img {
        height: 65%;
    }

    .vermas {
        margin-top: -1em;
    }

    /* Newsletter */

    .newsletter__block--img {
        width: 20%;
    }

    .newsletter__block h2{
        font-size: 35px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
    }

    /* Footer */

    .footer__redes--img {
        width: 60%;
        transform: translateX(40%);
        border-radius: 50%;
    }
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
    /* Lecturas recomendadas y Nuestros destacados */

    .publicaciones {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 2em;
    }

    .publicaciones2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 2em;
    }

    .publicacion h4, h3, h5 {
        color: hsl(0, 0%, 21%);
        text-align: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
    }

    .publicacion {
        margin-bottom: 2em;
    }

    .publicacion__img {
        width: 80%;
    }

    .publicaciones {
        row-gap: 0;
    }

    .publicaciones2 {
        row-gap: 1.5em;
    }

    .vermas {
        margin-top: -1em;
    }

    /* Newsletter */

    .newsletter__block--img {
        width: 25%;
    }

    .newsletter__block h2{
        font-size: 40px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
    }

    .newsletter_container {
        width: 70%;
        max-width: 1400px;
        margin: auto;
    }

    /* Footer */

    .footer__redes--img {
        width: 50%;
        transform: translateX(50%);
        border-radius: 50%;
    }
}

@media screen and (max-width: 850px) {
        /* Header */
        .bars, .glass {
            display: inline-block;
        }
        .menu, .search, .ingresar {
            display: none;
            visibility: hidden;
        }
        .navigation ul li { 
            padding-right: 0;
        }
}

@media screen and (min-width: 1024px) and (max-width: 1327px) {
    /* Lecturas recomendadas y Nuestros destacados */

    .publicaciones {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 2em;
        row-gap: -1em;
    }

    .publicaciones2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 2em;
        row-gap: 5em;
    }

    .publicacion h4, h3, h5 {
        color: hsl(0, 0%, 21%);
        text-align: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
    }

    .publicacion__img {
        width: 60%;
        height: 70%;
        transform: translatex(34%);
    }

    /* Newsletter */

    .newsletter__block--img {
        width: 25vh;
    }

    .newsletter__block h2{
        font-size: 50px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
    }

    .newsletter_container {
        width: 70%;
        max-width: 600px;
        margin: auto;
    }

    /* Footer */

    .footer__redes--img {
        width: 50%;
        max-width: 20em;
        transform: translateX(50%);
        border-radius: 50%;
    }
}

@media screen and (min-width: 1100px) {
    /* Header */
    .header .logo {   
        z-index: 200;
        background-image: url(/assets/media/logo.png);
        width: 10em;
        height: 10em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: 5px solid white;
        border-radius: 80px;
        margin-right: 2.2em;
        margin-bottom: -3em;
    }
}

@media screen and (min-width: 1328px) {
    /* Header */
    .navigation ul li {
        padding-right: .9em;
    }
    
    .menu {
        font-size: 28px;
        padding-right: .4em;
    }
    
    .fa-solid {
        font-size: 30px;
    }

    .search .input {
        padding-right: 7em;
    }

    /* Lecturas recomendadas y Nuestros destacados */

    .publicaciones {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        column-gap: 3em;
    }

    .publicaciones2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 3em;
        row-gap: 3em;
    }

    .publicacion__img {
        width: 45%;
        height: 60%;
        transform: translatex(60%);
    }

    .publicacion h4 {
        font-size: 22px;
        padding: .2em 0;
    }
    
    .publicacion h5 {
        font-size: 18px;
        font-weight: 400;
    }

    .vermas {
        margin-top: 0em;
    }

    /* Newsletter */

    .newsletter_container {
        display: flex;
        align-items: center;
    }

    .newsletter__btn {
        display: inline-flex;
        justify-content:center;
    }

    .newsletter__block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newsletter__block--img {
        width: 20%;
        margin-right: 1.5em;
    }

    .newsletter__block h2{
        font-size: 40px;
        font-weight: 400;
    }

    .newsletter_container .input {
        width: 85%;
    } 

    /* Footer */

    .footer__redes--img {
        width: 30%;
        max-width: 20em;
        transform: translateX(100%);
        border-radius: 50%;
        display: flex;
    }

    .footer__tarjetas {
        width: 50%;
        transform: translateX(50%);
    }

    #recomendadas h1 {
        font-size: 30px;
    }

    #destacados h1 {
        font-size: 30px;
    }
}